 <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CONSULTA O CEP</ion-title>
  </ion-toolbar>
</ion-header>
<br/>
<ion-content [fullscreen]="true">
<ion-list>
  <ion-item>
    <ion-input label="cep"  label-placement="floating" fill="outline" placeholder="Digite seu Cep" value=""
    #valor>  </ion-input>

      <ion-button expand="block" color="warning"
      (click)="consultaCep(valor.value)">CONSULTAR
      <ion-icon slot="start" name="star"></ion-icon>
    </ion-button>
  </ion-item>
  <br/>
  <ion-item>
    <ion-input readonly="=readonly" abel-placement="floating"
    fill="outline" value="{{cep}}">  </ion-input>
  </ion-item>
  <br/>
<ion-item>
  <ion-input readonly="=readonly" abel-placement="floating"
  fill="outline" value="{{logradouro}}"></ion-input>
</ion-item>
<br/>
<ion-item>
  <ion-input readonly="=readonly" abel-placement="floating"
  fill="outline" value="{{bairro}}" ></ion-input>
</ion-item>
<br/>
<ion-item>
  <ion-input readonly="=readonly"  abel-placement="floating"
  fill="outline" value="{{localidade}}"></ion-input>
</ion-item>

</ion-list>

<ion-button expand="block" color="warning"
(click)="paginaLogin()">Voltar para login
      <ion-icon slot="start" name="star"></ion-icon>
    </ion-button>
</ion-content>
